* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: "Nunito", serif;
}

body {
    background-color: #788ea8;
}

button {
    border: none;
    font-family: "Atkinson Hyperlegible Mono", serif;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #00ADB5;
    padding: 15px;
    box-shadow: none;
}

@keyframes click-bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9); /* Slightly pressed down */
    }
    100% {
        transform: scale(1);
    }
}

button:hover {
    animation: click-bounce 0.4s ease-in-out;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: #000000;
    height: 100px;
    display: flex;
    flex-direction: row;
}   

.navbar img {
    height: 70px;
    margin: 15px;
}

h4 {
    margin-top: 10px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 25px;
    gap: 80px;
    font-size: 25px;
    margin-left: 400px;
}

#timer {
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-size: 40px;
}

.main {
    background-color: #000000;
    border-radius: 20px;
    margin: 60px;
    margin-top: 160px;
    font-family: "Nunito", serif;
}

.questions, .box {
    padding: 20px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Nunito", serif;
    gap: 40px;
}